# Web сервер
flask==3.0.0
werkzeug==3.0.1

# Распознавание речи
vosk==0.3.45

# HTTP запросы
requests==2.31.0

# Обработка данных
pydantic==2.5.2

# Агент
langchain
python-dotenv

# Другое
numpy
omegaconf
soundfile
scipy
