# Веб-сервер
flask==3.0.0
werkzeug==3.0.1

# Распознавание речи
vosk==0.3.45

# HTTP-запросы
requests==2.31.0

# Обработка и проверка данных
pydantic==2.5.2

# ИИ-агент
langchain
openai
python-dotenv

# Обработка аудио и данных
numpy
omegaconf
soundfile
scipy

# Синтез речи
torch
torchaudio

# Нормализация текста для озвучки
ru-normalizr